# Python #
#############

# Jupyter Notebook Logs
.ipynb_checkpoints/

# Data
Location History.json
data.sav

# Images
Bangalore.png
Bangalore_travel_pattern.png
Travel patterns in Bangalore.png
Travel patterns in Trivandrum.png
Trivandrum_travel_pattern.png
Vehicle Usage Pattern.png
Vehicle.png
Walk.png
Walking Patterns.png
city_wise_distance.png
city_year_wise_distance.png
fig2.png
fig_bar_chart.png
fig_normalized_distance.png

# ReadMe File
Github Rules.md
